
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.dark{
    background-color: rgb(22, 20, 20);;
}

.navbar-nav li a{
    color: #fff;
    font-weight: bold;
}
.navbar-nav li a:hover{
    color: rgb(200, 58, 58);
}
.icon{
    color: #fff;
}
.bTn{
    margin-top: 20px;
}


.navbar-color{
    background:rgba(12, 11, 9, 0.6);;
}

.img-shadow{
    box-shadow: 20px -15px 90px grey;
}

.table-shadow{
    box-shadow: 20px 20px 50px grey;
}

.font{
    font-family: 'Send Flowers', cursive;
}
.font-color{
    color: #fff;
    font-weight: 300;
}
.nav-link:focus{
    color: #fff!important;
}

.card{
    padding-left: var(--bs-gutter-x,.75rem)!important;
    padding-right: var(--bs-gutter-x,.75rem)!important;
    background-color: #26231d!important;
}

.card2{
    padding-left: var(--bs-gutter-x,-0.25rem)!important;
    padding-right: var(--bs-gutter-x,-0.25rem)!important;
    margin-bottom: 25px;
    margin-top: -56px;

}

.card_img{
    border-radius: 50%;
}

.ant-card{
    background-color: #26231d!important;
    border: none!important;
}

.ant-card:hover{
    background: #cda45e!important;
}

.ant-card-meta-title{
    color: #fff!important;
}

.ant-card-meta-description{
    color: #fff!important;
}

img{
    background: #fff!important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 2.5rem!important;
}

.text-hover ul li a:hover{
    color: rgb(200, 58, 58)!important;
}

hr{
    color: #fff!important;
    height: 5px!important;
}

              